
<div class="container full">

	<div class="container">
		<div class="header">
			<div>
				<h2 class="nav">Anders is a developer with a keen focus on healthcare, design, and thoughtful web applications.</h2>
			</div>	

			<div class="row body">

				<div class="col-md-9">
					<h5>Principally working with Ruby on Rails, JavaScript, React, Solidity, and Python. </h5>
				</div>

				<div class="col-md-3">
					<a href=mailto:anderskiss11@gmail.com"?subject="Outreach && Opportunites">CONTACT</a>
				</div>
			</div>
		</div>
	</div>

	<div class="content">

		<div class="content-text">
			<h2>selected projects</h2>
		</div>

		<div class="row body">

			<div class="col-md-3">
				<div class="card" style="width: 23rem;">
				<img src="https://picsum.photos/640/360" class="card-img-top" alt="...">
					<div class="card-body">
						<h5 class="card-title">ZAETAE</h5>
							<p class="card-text">a multi-sided
							platform connecting patients and providers worldwide - we helped patients find affordable medical treatment. Implemented
							regulations for HIPAA and Personal Health Information (PHI) compliance.</p>

						<p style="font-style: italic;">Responsible for:</p>
						<ul style="width: 70%; text-align: left">
							<li>DESIGN</li>
							<li>DEVELOPMENT</li>
							<li>CONTENT</li>
						</ul>
						<p>www.zaetae.com</p>
					</div>
				</div>
			</div>

			<div class="col-md-3">
				<div class="card" style="width: 23rem;">
				<img src="https://picsum.photos/640/360" class="card-img-top" alt="...">
					<div class="card-body">
						<h5 class="card-title">DeviceTicker</h5>
						<p class="card-text">A subscription newsletter site geared towards medical technology and startup trends.</p>

						<p style="font-style: italic;">Responsible for:</p>
						<ul style="width: 70%; text-align: left">
							<li>DESIGN</li>
							<li>DEVELOPMENT</li>
							<li>CONTENT</li>
						</ul>
						<p>www.deviceticker.com</p>
					</div>
				</div>
			</div>

			<div class="col-md-3">
				<div class="card" style="width: 23rem;">
				<img src="https://picsum.photos/640/360" class="card-img-top" alt="...">
					<div class="card-body">
						<h5 class="card-title">RegRemedy</h5>
						<p class="card-text">A site to help medical device makers register products around the world, and setup Quality Systems that are compliant to the international standard, ISO 13485.</p>

						<p style="font-style: italic;">Responsible for:</p>
						<ul style="width: 70%; text-align: left">
							<li>DESIGN</li>
							<li>DEVELOPMENT</li>
							<li>CONTENT</li>
						</ul>
						<p>www.regremedy.com</p>
					</div>
				</div>
			</div>

			<div class="col-md-3">
				<div class="card" style="width: 23rem;">
				<img src="https://picsum.photos/640/360" class="card-img-top" alt="...">
					<div class="card-body">
						<h5 class="card-title">DeviceTicker</h5>
						<p class="card-text">A subscription newsletter site geared towards medical technology and startup trends.</p>

						<p style="font-style: italic;">Responsible for:</p>
						<ul style="width: 70%; text-align: left">
							<li>DESIGN</li>
							<li>DEVELOPMENT</li>
							<li>CONTENT</li>
						</ul>
						<p>www.deviceticker.com</p>
						<a href="#" class="btn btn-primary">Go somewhere</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
