<div class="container">
	
	
	<div class="header">
		<h2 class="nav">Anders is a developer with a keen focus on smart contracts, healthcare, design, and humanity.</h2>
		<h5>Principlally working with Ruby on Rails, JavaScript, React, Solidity, and Python. </h5>
		
	</div>
</div>
