// Place all the styles related to the homepage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



body {
  background-image: url("landscape.jpg");
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


section {
  padding: 0 100px;
  height: 90vh
}

.box {
  position:relative;
  max-width: 600px;
  padding: 50px;
  background: rgba(255,255,255,.5);
}

.full {
  background-color: #9e9e35;
  font-family: 'Source Code Pro', monospace;
}

.header {
  color: beige;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 70px;

}

.content {
  color: black;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.content-text {
  color: beige;
  padding-top: 10px;
  padding-bottom: 50px;
}

.body {
  display:flex;
  padding: 8px;
}

.description {
  width: 300px;
  font-weight: 400;
}

