// Place all the styles related to the homepage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



body {
  background-image: url("landscape.jpg");
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


section {
  padding: 0 100px;
  height: 90vh
}

.full {
  position:relative;
  max-width: 600px;
  padding: 50px;
  background: rgba(255,255,255,.5);
  font-family: 'Source Code Pro', monospace;
}

.header {
  color: black;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

// .nav {
//   width: 60vw;
//   margin-bottom: 20px;
// }

.content {
  color: black;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.content-text {
  color: black;
  padding-top: 10px;
  padding-bottom: 50px;
}

.row-body {
  display:flex;
  padding: 8px;
}

.row-cards {
  // align-items: center;
}

.description {
  width: 300px;
  font-weight: 400;
}

