h1,h2,h3 {
  color: #111111;
}

p,h4,h5,h6{
  color: #595959;
  font-weight: 500;
}

body {
  background-image: url("landscape.jpg");
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.id {
  border-radius: 50%;
  opacity: .91;
}

.full {
  position:relative;
  max-width: 600px;
  padding: 10px;
  background: rgba(255,255,255,.5);
  font-family: 'Source Code Pro', monospace;
}

.header {
  color: black;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 30px;
}

.nav {
  display: inline-block;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 70px;
}

.row-body {
  display: inline-block;
  margin: 0 auto;
  margin-top: 70px;
  // padding: 8px;
}

.content {
  color: black;
  text-align: center;
  // padding-top: 40px;
  padding-bottom: 40px;
}

.content-text {
  color: black;
  padding-top: 10px;
  padding-bottom: 50px;
}

.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

.row-cards { 
  width: auto;
  display: inline-block;    
}

#social {
  margin-top: 40px;
  color: black;
  // text-shadow: 1px 1px 1px #ccc;
  font-size: 2em;
  // color: #111111;
}

.fab,.fas {
  color: #707070;
}

.fab:hover {
  color: #11d3ff;
}

.fas:hover {
  color: #11d3ff;
}

.description {
  width: 300px;
  font-weight: 300;
}

